img{
    height: 50px;
    border-radius: 50%;
    /* padding-top: 30px; */
}
#ddiv{
    background-color: white;
    /* width: 500px; */
    /* margin-left: 260px; */
    /* margin-top: 80px; */
    border-radius: 5px;
    

}
